
  .navlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    font-size: 20px;
    list-style-type: none;
    background-color: #346751;
    text-decoration: none;
    margin-bottom: 0px;
  };

  .navlinks a{
  text-decoration: none;
  }

  #logo {
    margin-left: -210px;
  }

.navlinks a:visited{
color: #fff;
}

.navlinks a:hover{
background-color: #125D98;
margin-left: 0px;
}

.navbar{
height: 10px;
}

li {
  margin-top: 15px;
}


.navlinks li{
height: 50px;
width: 50px;
white-space: nowrap;
margin-bottom: 5px;
font-family: cursive;
} 

 div.container{
 margin-left: 0px;
 }

#orangeLogofinal {
  display: flex;
  margin-left: -210px;
  margin-top: -10px;
  box-shadow: 2px 2px 20px 3px black;
  height: 65px;
  width: 70px;
  }